
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">RentHouse</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}" >
        <a class="nav-link"  [routerLink]="['/']"  href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}">
      <a class="nav-link"    [routerLink]="['/dashboard']" href="#">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="authService.loggedIn()"[routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}">
      <a class="nav-link"    [routerLink]="['/profile']" href="#">Perfil <span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="authService.loggedIn()"[routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link"    [routerLink]="['/users']" href="#">Usuarios <span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="authService.loggedIn()"[routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link"    [routerLink]="['/unidades']" href="#">Usuarios <span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link"    [routerLink]="['/login']" href="#">Login <span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link"   [routerLink]="['/register']" href="#">Registrarse <span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="authService.loggedIn()">
        <a class="nav-link" (click)="onLogoutClick()"    href="#">Salir <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
